﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Deletepage.aspx.cs" Inherits="CMS.Deletepage" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
    <asp:SqlDataSource runat="server" id="page_query" ConnectionString="<%$ ConnectionStrings:cms_sql_con %>">
    </asp:SqlDataSource>
    <div class="resultbox" id="result" runat="server"></div>
</asp:Content>
